.html {
  height: 100vh;
};

.body {
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
};

*,
*::before,
*::after {
  box-sizing: border-box;
};

.img {
  max-width: 100%;
  height: auto;
  line-height: 0;
};
