@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
  url('../fonts/open-sans-v18-latin-300.woff2') format('woff2'),
  url('../fonts/open-sans-v18-latin-300.woff2') format('woff')
};

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'),
  url('../fonts/open-sans-v18-latin-regular.woff') format('woff')
};

@font-face {
  font-family: 'Nexa Light';
  font-style: normal;
  font-weight: 300;
  src: local(''),
  url('../fonts/nexa-light.woff') format('woff')
};